<ion-view view-title="goToPage">
    <ion-content>
		<div class="container mainContainer">
			<br>
            <!--la idea es que cuando llamamos a goToPage le pasamos dos textos que dependen de donde vienen. Defini donde creas que es mejor este tema, capaz en vez de mandar variables podemos poner la logica en el Ctrl de esta pàgina y que se decida condicionalmente ahi-->
            <h1>Primer texto variable. Ej.: "¡Lograste escapar del guardia!"</h1>
            <h3>Segundo texto variable. Ej.: "Ahora andá a la página 3"</h3>
            </br>
            <a href="#/menu">Volver al menu</a>
		</div>
    </ion-content>
  </ion-view>