<ion-view view-title="Menu Principal">
    <ion-content>
		<div class="container">
			<div class="menuContent">
					<a href="#/volumenUp"><img src="img/page1.png" class="pageButton animated jello"/></a>
					<a href="#/volumenDown"><img src="img/page2.png" class="pageButton animated jello"/></a>
					<a href="#/shake"><img src="img/page3.png" class="pageButton animated jello"/></a>
					<a href="#/microphono"><img src="img/page4.png" class="pageButton animated jello"/></a>
			</div>
		</div>
    </ion-content>
  </ion-view>